<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <body>
    <div style="padding: 10px; display: flex">
      <button class="btn btn-primary" type="button" (click)="openRegisterDialog()">Registrar pelea</button>
    </div>
    <div class="table-responsive" style="padding: 20px; padding-top: 0px">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Mensaje</th>
            <th>Ganador</th>
            <th>Registrado</th>
          </tr>
        </thead>
        <tbody>
          @for (row of dataRows; track row) {
          <tr>
            <td>{{ row.ID }}</td>
            <td>{{ row.content }}</td>
            <td>{{ row.winner }}</td>
            <td>{{ row.CreatedAt }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
