<div style="background-color: white; padding: 20px;">
  <h4>Ingresa los datos del peleador</h4>
  <form (ngSubmit)="registerFight()" [formGroup]="form">
    <input style="margin-top: 10px;" type="number" formControlName="fighter1" placeholder="Peleador 1">
    <input style="margin-top: 10px;" type="number" formControlName="fighter2" placeholder="Peleador 2">
    <input style="margin-top: 10px;" type="number" formControlName="winner" placeholder="Ganador">
    <input style="margin-top: 10px;" type="text" formControlName="content" placeholder="Comentario">
    <button
          class="btn btn-primary"
          type="submit"
          style="margin-top: 10px"
        >
          Crear peleador</button
        >
    </form>
</div>
